body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: #6881c7ea;
    height: 700px;
    -ms-flex-item-align: justify;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}


.col-5{
    width: 19%;
    height: 600px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color: rgb(107, 221, 215);
}

.service-content{
    padding: 0.5em 0;
}
.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
}

.service-text.memebers{
    font-style: italic; 
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

